# TMDB Dataset Analysis

## Reading files

In [6]:
import pandas as pd 
files = pd.read_csv(r'C:\Users\agnel\Documents\data science\tmdb movies\tmdb-movies.csv')
files.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

### Important details

In [2]:
files.describe()
files.info() # some null values in 'cast',too many in 'homepage' but the important columns have only a few null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

# Task 1:

## Which are the movies that have the third highest and third lowest budget

In [3]:
files['budget'].value_counts().sort_index()

files[files['budget']== 2]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
8944,14373,tt0082250,0.464188,2,16,Death Wish 2,Charles Bronson|Jill Ireland|Vincent Gardenia|...,NaN,Michael Winner,First His Wife. Now His Daughter. It's Time To...,...,Paul Kersey is again a vigilante trying to fin...,88,Action|Crime|Thriller,Cannon Films,2/20/82,27,5.6,1982,4.519285,36.154278

## The third lowest budget movie is 'Death Wish' released in 1982

In [4]:
files[files['budget'] == 300000000]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
7387,285,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,http://disney.go.com/disneypictures/pirates/,Gore Verbinski,"At the end of the world, the adventure begins.",...,"Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/07,2626,6.8,2007,3.155006e+08,1.010654e+09

## The third highest budget movie is 'Pirates of the Caribbean: At World's End' released in 2007.

# Task 2:
## What is the average number of words used in movie titles between the year 2000-2005

In [5]:
movie_name = files['original_title']

file_between = files[((files['release_year'] >= 2000) & (files['release_year'] <= 2005))]
movie_between = file_between['original_title']
len_btw = len(movie_between)
len_btw

1687

In [6]:
def splitter(movie_name):
    movie_split = movie_name.split()
    return len(movie_split)

movie_titles = movie_between.apply(splitter)

In [7]:
count_btw = movie_titles.sum()
average_no = count_btw/len_btw
average_no

2.879668049792531

## The average number of words used 2.87 in the movies between 2000 and 2005

# Task 3:
## Which is the most common genre with Vin Diesel and Emma Watson

In [8]:
files.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

### Cast and Genre clean

In [9]:
def convert(string):
    li = list(string.split(","))
    return li

In [10]:
files['cast'] = files['cast'].str.replace('|',",")
files['cast'] = files['cast'].astype(str)

files['cast_split'] = files['cast'].apply(convert)
files['cast_split'].dtypes

dtype('O')

In [11]:
files['genres'] = files['genres'].str.replace('|',",")
files['genres'] = files['genres'].astype(str)  

files['genres_split'] = files['genres'].apply(convert)
files['genres_split'].dtypes
print(files['genres_split'])

0        [Action, Adventure, Science Fiction, Thriller]
1        [Action, Adventure, Science Fiction, Thriller]
2                [Adventure, Science Fiction, Thriller]
3         [Action, Adventure, Science Fiction, Fantasy]
4                             [Action, Crime, Thriller]
                              ...
10861                                     [Documentary]
10862                        [Action, Adventure, Drama]
10863                                 [Mystery, Comedy]
10864                                  [Action, Comedy]
10865                                          [Horror]
Name: genres_split, Length: 10866, dtype: object

In [12]:
def actor(new_list,):
    x = 'Vin Diesel'
    y = 'Emma Watson'
    for each in new_list:
        if x in  each:
            return True
        else:
            return False

### Vin Diesel Movies

In [14]:
check = files['cast_split'].apply(actor)
vin_movies = files[check]
vin_movies['genres_split'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Action, Drama]                                   2
[Science Fiction, Action, Thriller]               1
[Adventure, Action, Thriller, Science Fiction]    1
[Thriller, Science Fiction, Action]               1
[Action, Crime, Thriller]                         1
[Fantasy, Action, Adventure]                      1
[Action, Animation, Science Fiction, Thriller]    1
[Action]                                          1
[Action, Adventure, Science Fiction, Thriller]    1
[Action, Thriller, Crime]                         1
[Action, Animation, Science Fiction]              1
[Action, Crime, Drama, Thriller]                  1
[Action, Comedy, Drama, Family, Thriller]         1
[Drama, Action, Comedy, Crime]                    1
Name: genres_split, dtype: int64

In [22]:
def counter(genre):    
    genre_count = {}
    if genre in genre_count:
        genre_count[genre]+=1
    else:
        genre_count[genre] = 1

In [29]:
genre_name = []
for each in vin_movies['genres_split']:
    for value in each:
        if value not in genre_name:
            genre_name.append(each)
        
genre_name

[['Action', 'Crime', 'Thriller'],
 ['Fantasy', 'Action', 'Adventure'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Action', 'Drama'],
 ['Action', 'Adventure', 'Science Fiction', 'Thriller'],
 ['Action', 'Thriller', 'Crime'],
 ['Action'],
 ['Action', 'Drama'],
 ['Science Fiction', 'Action', 'Thriller'],
 ['Action', 'Animation', 'Science Fiction'],
 ['Action', 'Comedy', 'Drama', 'Family', 'Thriller'],
 ['Drama', 'Action', 'Comedy', 'Crime'],
 ['Adventure', 'Action', 'Thriller', 'Science Fiction'],
 ['Action', 'Animation', 'Science Fiction', 'Thriller'],
 ['Thriller', 'Science Fiction', 'Action']]

In [ ]:
['cast_split']
 if x in  each:
        print(files[each])
    
for each in files['cast_split']:
    print(each)
         
['cast_split'].apply(actor)


 vin_movies['genres_split'].apply(counter)
    
        for each in genre:

# Task 4:
## Which are the movies with the most and least earned revenue

In [ ]:
files.head()
files.columns

In [ ]:
files['revenue'].value_counts().sort_index()

In [ ]:
files[files['revenue'] == 0]

In [ ]:
files[files['revenue'] == 2781505847]

## The movie with the most earned revenue is 'Avatar' directed by 'James Cameron'.

# Task 5:
## What is the average runtime of movies in the year 2006

In [ ]:
files_btw = files[files['release_year'] == 2006]

In [ ]:
files_btw['runtime'].value_counts().sort_index()

In [ ]:
files_btw[files_btw['runtime'] == 0]

## The movie with the lowest runtime in the year 2006 is 'Jean-Philippe' by Laurent Tuel.

In [ ]:
files_btw[files_btw['runtime'] == 550]

## The movie with the longest runtime in the year 2006 is 'Planet Earth' by Alastair Fothergil.

# Additional Intel

In [ ]:
import matplotlib as plt